{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% comment %} Локализация - возможность в будущем добавить поддержку других языков {% endcomment %}

{% block content %}

<div class='container py-4 mt-5 text-center'>
    <h2>{% trans "Восстановление пароля" %}</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3" style="max-width: 500px; margin: 0 auto;">
            {{ field.label_tag }}
            {{ field|add_class:"form-control mt-2" }}
            {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-dark">{% trans "Сбросить пароль" %}</button>
    </form>
</div>

{% endblock %}