{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}

<div class='container py-4 mt-5'>
    <h2 class='text-center'>{% trans "Ввод нового пароля" %}</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3" style="max-width: 500px; margin: 0 auto;">
                {{ field.label_tag }}
                {{ field|add_class:"form-control mt-2" }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="text-center">
            <button type="submit" class="btn btn-dark center">{% trans "Изменить пароль" %}</button>
        </div>
    </form>
</div>

{% endblock %}