{% extends "base_profile.html" %}
{% load static %}

{% block title %} Личный кабинет {% endblock %}

{% block content_profile %}

<div class="container">
    <div class="row">
            <h2>Мои данные</h2>
            <div class="card">
                <div class="card-body">
                    <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Дата регистрации:</strong> {{ user.date_joined }}</p>
                </div>
            </div>
    </div>
</div>

{% endblock %}
