{% comment %} users/templates/include/profile_nav.thml 
Это работает на переменной active_tab, которая передается в контексте шаблона.
Значения: profile, password_change, profile_cards
{% endcomment %}

<!-- navigation.html -->
<nav id="navbar-example3" class="flex-column align-items-stretch text-center">
    <nav class="nav nav-pills flex-column">
        <a class="nav-link {% if active_tab == 'password_change' %}active bg-dark text-light{% else %}text-dark{% endif %}" href="{% url 'password_change' %}">Сменить пароль</a>

        <a class="nav-link {% if active_tab == 'my_notes' %}active bg-dark text-light{% else %}text-dark{% endif %}" href="{% url 'my_notes' %}">Мои заметки</a>

        <a class="nav-link {% if active_tab == 'add_note' %}active bg-dark text-light{% else %}text-dark{% endif %}" href="{% url 'add_note' %}">Добавить заметку</a>

        {% if user.groups.all.0.name == 'Администратор' or user.is_superuser %}
            <a href="{% url 'visits' %}" class="btn btn-secondary mt-4"><i class="bi bi-list-ul"></i> Список всех записей</a>
        {% endif %}
        
        <a class="nav-link bg-success text-light mt-5" href="{% url 'main' %}">Вернуться на главную</a>

    </nav>
</nav>
