html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(135deg, #ffffff, #d7ffd9);
    background-attachment: fixed;
}

.container:not(footer .container) {
    background-color: #ffffff;
    border-radius: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #e5e5e5 !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}