{% extends "base.html" %}

{% block title %}Детали заявки{% endblock %}

{% block content %}

<div class="container py-4 mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mb-4">Детали заявки</h2>
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>Дата создания:</strong> {{ visit.created_at }}</p>
                    <p class="card-text"><strong>Имя:</strong> {{ visit.name }}</p>
                    <p class="card-text"><strong>Телефон:</strong> {{ visit.phone }}</p>
                    <p class="card-text"><strong>Статус:</strong> {{ visit.get_status_display }}</p>
                    <p class="card-text"><strong>Раздел:</strong> {{ visit.section.name }} {{ visit.master.last_name }}</p>              
                    <p class="card-text my-3"><strong>Услуги:</strong></p>
                    <ul>
                        {% for service in visit.services.all %}
                            <li>{{ service.name }}</li>
                        {% endfor %}
                    </ul>
                    {% if perms.STOservice.delete_visit %}
                    <a href="{% url 'visit-delete' visit.pk %}" class="btn btn-danger my-2">Удалить</a>
                    {% endif %}
                    <a href="{% url 'visit-edit' visit.pk %}" class="btn btn-dark my-2">Редактировать</a>
                    <a href="{% url 'visits' %}" class="btn btn-success my-2">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}